---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import estucheCumpleaños from "@images/estuche-cumpleaños.jpg";
import estucheAmistad from "@images/estuche-amistad.jpg";
import estucheAmor from "@images/estuche-amor.jpg";


---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explorá nuestros productos"
    url="/products"
  />

  <HeroSection
    title=`El chocolate que <span
        class="text-primary-100">habla por vos</span>`
    subTitle="Diseñados para expresar tus sentimientos de la mejor forma."
    primaryBtn="Ver productos"
    primaryBtnURL="/products"
    src={heroImage}
    alt="Variedad de chocolates personalizados de Latte Chocolate"
  />

  <ClientsSection
    title="Confianza de comercios"
    subTitle="Un producto revelador que"
  />

  <FeaturesGeneral
    title="Dulzura para el momento indicado"
    subTitle="En Latte, respondemos a una necesidad única en el sector de los chocolates y dulces, creando momentos únicos."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Elegí el<mark class="mx-2 px-1 text-white bg-primary-100 rounded">Latte</mark>indicado para tu ocasión especial.`
    tabs={[
      {
        heading: "Latte amor",
        content:
          "Conoce nuestro Pack Amor. Diseñado especialmente para un momento único con esa persona especial, este pack es un gesto que abre a la ternura y al amor con tu ser querido",
        svg: "latteLove",
        src: estucheAmor,
        alt: "image with pack friends of busines 'Latte chocolate",
        first: true,
      },
      {
        heading: "Latte amistad",
        content:
          "Conoce nuestro Pack amistad. Diseñado especialmente para regalar a un amigo, esa persona que estuvo y esta siempre.",
        svg: "latteFriends",
        src: estucheAmistad,
        alt: "image with pack friends of busines 'Latte chocolate",
      },
      {
        heading: "Latte cumpleaños",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "latteCumpleaños",
        src: estucheCumpleaños,
        alt: "image with pack friends of busines 'Latte chocolate",
      },
      {
        heading: "Latte celebraciones especiales",
        content:
          "Conoce nuestro Pack celebraciones especiales. Perfecto para celebrar el día especial de tus seres queridos con un toque dulce y especial.",
        svg: "latteFestividades",
        src: estucheAmor,
        alt: "image with pack friends of busines 'Latte chocolate",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Preguntas<br />frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Comenzá a vender Latte en tu comercio"
    subTitle="Unite a nuestra red de revendedores y disfruta de múltiples beneficios"
    url="./contact.astro"
  />
</MainLayout>
