---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import TestimonialProducts from '@components/sections/products/TestimonialProducts.astro'
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products")
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "Productos";
const subTitle: string =
  "Explora la gran variedad de productos que ofrecemos, cada uno tiene un mensaje pensado y diseñado para un momento en especial.";

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
      " \"Hola! Cómo están? Ayer descubrí sus chocolates súper originales en la Puro Diseño. Quería saber dónde se pueden conseguir fuera de la Feria. Muchas gracias!.\" ",
    author: "Cliente minorista",
    role: "Instagram | Cliente minorista",

  },
  // Second testimonial data
  {
    content:
      " \"Son hermosos y se les nota el amor con el que están hechos y sobre todo pensados, las ideas son hermosas..\"",
    author: "Cliente minorista",
    role: "Instagram | Cliente minorista",
  },
  // Third testimonial data
  {
    content:
      " \"Son hermosos y se les nota el amor con el que están hechos y sobre todo pensados, las ideas son hermosas..\" ",
    author: "Comercio",
    role: "Instagram | Comercio",
  },
];

const pageTitle: string = `Productos | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    "url": "https://screwfast.uk/products",
    "name": "Productos | Latte chocolate",
    "description": "Explora y descubrí lo que pueden generar nestros productos.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://screwfast.uk",
      "name": "Latte choclate",
      "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "es"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Que dicen sobre nuestros productos" url="#testimonials" noArrow={true} />
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} />;
          } else {
            return <CardWide product={product} />;
          }
        })
      }
    </section>
  </div>
  <!--Features statistics section-->
  <TestimonialProducts
    title="¿Por qué elegir Latte?"
    subTitle="Latte tiene productos increibles, nuestro fuerte es transmitir mensajes a traves de nuestros productos. Compra ahora en nuestra tienda o contactanos para distribuir."
    benefits={[
      "Perfectos para regalar: Nuestros chocolates están diseñados para expresar mensajes especiales, siendo el regalo perfecto para cualquier ocasión.",
      "Innovación constante: Siempre estamos innovando de forma creativa para ofrecerte la mejor experiencia.",
      "Calidad: calidad excelente y sobre todo peso de años de experiencia en la industria.",
    ]}
  />
  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="Que dicen nuestros clientes"
    testimonials={testimonials}
  />
</MainLayout>
